# part 1 problem 1

In [1]:
list1 = list(range(1,21,2))
print (list1[:5])
print(list1[-1:-4:-1])
print(list1[2:7])

[1, 3, 5, 7, 9]
[19, 17, 15]
[5, 7, 9, 11, 13]

# part 1 problem 2

In [2]:
fruits = ["apple", "banana","peach","strawberry","mango"]
fruits.append("orange")
fruits.append("berry")
fruits.remove(fruits[-1])
print(fruits)

['apple', 'banana', 'peach', 'strawberry', 'mango', 'orange']

# part 2 problem 3

In [3]:
cities = ("Cairo","Giza","Alex","Assiut","Qena")
print(cities[1])
cities[1] = "Sohag" # 'tuple' object does not support item assignment

Giza

TypeError: 'tuple' object does not support item assignment

# part 2 problem 4

In [ ]:
dict1 = {'name':'John','age':30,'city':'New York'}
print(dict1['age'])
dict1['Job']='engineer'
dict1.pop('city')
print(dict1)

30
{'name': 'John', 'age': 30, 'Job': 'engineer'}

# part 2 problem 5

In [ ]:
dict2 = {'name':['ahmed','ali','mohamed'],'age':[20,22,25]}
for i in range(3) :
    name = dict2['name'][i]
    age = dict2['age'][i]
    print(f"{name} is {age} years old")

ahmed is 20 years old
ali is 22 years old
mohamed is 25 years old

# part 3 problem 6

In [ ]:
age = int(input("please enter the age"))
if age >= 18 :
    print("adult")
else :
    print("minor")

adult

# part 3 problem 7

In [ ]:
number = int(input("please enter a number"))
if number %2 == 0 :
    print("even")
else : 
    print("odd")

even

# part 3 problem 8

In [ ]:
score = int(input("enter your score"))
if score >= 90:
    print("A")
elif score >= 70:
    print("B")
elif score >= 50:
    print("C")
else :
    print("F")

C

# part 4 problem 9

In [ ]:
for i in range(1,21):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

# part 4 problem 10

In [ ]:
i = 10 
while i>=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

# part 4 problem 11

In [ ]:
num = int(input("enter a number"))
sum = 0
for i in range(num+1):
    sum = sum + i 
print(sum)

10

# part 5 problem 12

In [ ]:
name = input("enter your name")
age = int(input("enter your age"))
print(f"Hello, {name}! you are {age} years old.")

Hello, islam! you are 22 years old.

# part 5 problem 13

In [ ]:
color = input('please enter your favourite color')
if color.lower() == 'blue':
    print("you have a great taste!")
else : 
    print("that's a nice color too")

you have a great taste!

# Bonus

In [ ]:
list3 =[]
max = 0
min = 0
for i in range(5):
    num = int(input("please enter a number"))
    list3.append(num)
for k in range(5):
    sum = sum + list3[k]
    if list3[k] > max :
        max = list3[k]
    if list3[k] < min :
        min = list3[k]
average = sum/5
print(f"average = {average}")
print(f"max = {max}")
print(f"min = {min}")

average = 20.8
max = 6
min = 0