section 1

In [1]:
print("""
Hello, python learners!
Today we start our python journey
""")

Hello, python learners!
Today we start our python journey

section 2

In [2]:
age = 22
print(f" I'm {age} years old")

 I'm 22 years old

In [3]:
x = "hello"
y = 2
z = 2.5
print(f"""
the type of x is {type(x)}
the type of y is {type(y)}
the type of z is {type(z)}
""")

the type of x is <class 'str'>
the type of y is <class 'int'>
the type of z is <class 'float'>

secion 3

In [4]:
a = "python is amazing"
print(a[10:])
first_name = "islam"
last_name = "Essam"
fullName= first_name+" "+last_name
fullName

amazing

'islam Essam'

section 4

In [5]:
area = 5*10
area

50

In [6]:
a= 20 
b =7

print("sum = " , a + b)
print("sub= " ,a - b)
print("mult= " , a*b)
print("div= " , a/b)
print("mod =", a%b)

sum =  27
sub=  13
mult=  140
div=  2.857142857142857
mod = 6

section 5

In [7]:
food = ["meat",'chicken' ,'rice','salad','fish']
print(food , food[2])
food_tuple = tuple(food)
food_tuple[0] = "salad"

['meat', 'chicken', 'rice', 'salad', 'fish'] rice

TypeError: 'tuple' object does not support item assignment

# section 6

In [ ]:
m = "learning python is fun!"
print(m[9:15])
n = m.replace("fun","awesome")
n

python

'learning python is awesome!'

section 7

In [ ]:
student = {"name":"islam", "age":"22", "grade" :"4th"}
print(student)
student["city"] = "cairo"
student

{'name': 'islam', 'age': '22', 'grade': '4th'}

{'name': 'islam', 'age': '22', 'grade': '4th', 'city': 'cairo'}

In [ ]:
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
print( "sum =" , num1 + num2)
print( "sub =" , num1 - num2)
print( "prod =", num1 * num2)
print( "div =", num1 / num2)

if num1%num2 == 0 :
    print("divisible")
else:
    print("not divisible")

sum = 6
sub = 2
prod = 8
div = 2.0
divisible